:root {
    --dark: #000;
    --light: #ffc71f;
    --lightouter: #ffc000;
    --null: #00000000;
    --page: #fff;
}
@font-face {
    font-family: 'Protobesh';
    src: url(ProtobeshAF.otf);
}
@font-face {
    font-family: 'Kitisakkullian';
    src: url(KitisakkullianAF_v1.2.otf);
}
@font-face {
    font-family: 'AurebeshTypewriter';
    src: url(AurebeshTypewriter-Regular.otf);
}
@font-face {
    font-family: 'Kittat';
    src: url(SithAF.otf);
}
@font-face {
    font-family: 'McQ Mirror';
    font-variant-alternates: styleset(4);
    src: url(McQuarrieAF.otf);
}
@font-feature-values "McQ Mirror" {
    @styleset {
        automirror: 2;
    }
}

body {
    background-color: var(--page);
    color: var(--dark);
    /* text-shadow: 0 0 5px var(--lightouter), 0 0 1px var(--light); */
    margin: 3em auto;
}

h1, h2, h3, h4 {
    font-family: 'AurebeshTypewriter';
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    width: 400pt;
    /* background: var(--page); */
    position: relative;
}
a {
    color: black;
    text-decoration: underline;
    text-decoration-skip: none;
}
a:active {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    text-decoration-skip: none;
}
a:visited {
    color: black;
    text-decoration: dashed;
    text-decoration-skip: none;
}

h1 {
    font-size: 18pt;
    /* filter: blur(.5px) contrast(75); */
    text-transform: uppercase;
    /* text-decoration: underline; */
}
h2 {
    font-size: 14pt;
    /* text-transform: uppercase; */
    /* filter: blur(.2px) contrast(50); */
}
h3, h4 {
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    /* filter: blur(.05px) contrast(5); */
}
h3::before {
    font-family: 'AurebeshTypewriter';
    content: 'on or about ';
}
h4 {
    font-size: 8pt;
}

p, ul {
    margin: 24pt auto;
    padding: 2pt;
    width: 400pt;
    font-size: 14pt;
    /* background: var(--page); */
    /* filter: blur(.5px) contrast(30); */
    /* text-align: justify; */
    position: relative;
    /* display: inline-block; */
    z-index: 0;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    list-style-type: none;
    /* padding: 0; */
    /* margin: 0; */
}

.protobesh {
    /* filter: blur(.3px) contrast(20); */
    font-family: 'Protobesh';
    letter-spacing: -1pt;
}
.kitisakkullian {
    /* filter: blur(.1px) contrast(10); */
    /* font-size: 14pt; */
    font-family: 'Kitisakkullian';
    /* letter-spacing: -1pt; */
}
.kittat {
    /* filter: blur(.1px) contrast(10); */
    font-size: 20pt;
    font-family: 'kittat';
    /* letter-spacing: -1pt; */
}
.mcq {
    /* filter: blur(.1px) contrast(10); */
    font-size: 18.5pt;
    /* text-align: center; */
    font-family: 'McQ Mirror';
    line-height: 1em;
    font-variant-alternates: styleset(automirror);
    /* color: #880000; */
    /* background-color: white; */
    /* filter: blur(.05px) contrast(5); */

    /* letter-spacing: -1pt; */
}

p span {
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 5pt;
    margin: 5pt;
    border-radius: 6px;    
    border: 2pt solid currentColor;
    position: absolute;
    z-index: 0;
    bottom: 0pt;
    left: 10pt;
    width: fit-content;
    max-width: 300pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14pt;
    /* opacity: 0; */
    transform-origin: center center center;
    transform: skewX(-1deg);
    /* filter: brightness(100); */
    user-select: none;
}

p:hover {
    z-index: 100;
}

p:hover span {
    visibility: visible;
    /* opacity: 100; */
}